<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mywebpage</title>
</head>

<body>


<a href="#bottom">go to bottom</a>

<h1 align="center" style="color: red; background-color: yellow;">this is my web page</h1>
<h2>Lorem ipsum dolor sit.</h2>
<h3>Lorem ipsum dolor sit amet.</h3>
<h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae, harum?</h4>
<h5>Lorem ipsum dolor sit, amet consectetur adipisicing.</h5>
<h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h6>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, mollitia, labore quas quaerat, at fugiat quam necessitatibus velit dicta illo atque a. A doloremque, aspernatur accusantium assumenda iste expedita! Natus!</p>

<b>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi esse, quae nulla velit ipsum dolor perspiciatis eligendi facilis, vel eius mollitia delectus dolorem officiis rerum aspernatur explicabo ducimus corporis laudantium!</b>
<br>
<hr>
<h1><u>this is underline tag</u></h1>

<a href="https://www.facebook.com/">click here</a>

<marquee> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, exercitationem libero? Rerum fugit veritatis sed perferendis impedit laudantium quia facilis deleniti ratione possimus accusamus unde fugiat iusto, illum laboriosam nesciunt?</marquee>

<img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="Image can't get">

<a href="" id="bottom">back to top</a>

<a href="test">go to test page</a>

</body>

</html>