<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>sign up</h1>

   <form action="" method="">
    <input type="email" placeholder="Enter your email"><br>
    <input type="text" placeholder="Enter your username"><br>
    <input type="password" placeholder="Enter your password"><br>
    <input type="file" placeholder="uppload your resume"><br>

    <b>Gender</b>
    <input type="radio" name="gender">Male
    <input type="radio" name="gender">Female
    <br>

    <select name="" id="">
        <option value="">india</option>
        <option value="">USA</option>
    </select><br>

    <textarea cols="30" rows="10">

    </textarea><br>

    <b>Skills</b>
    <input type="checkbox">Html
    <input type="checkbox">Css
    <input type="checkbox">Python

   </form>

</body>

</html>